@font-face {
    font-family: 'myFont';
    src: url('./造字工房映力黑规体.otf');
    font-weight: normal;
    font-style: normal;
}

.hello {
    color: #000;
    font-size: 20px;
    font-family: serif, 'myFont';
    background: url('./user-img-gril.jpg') no-repeat center/cover;
}